/*! CSS Used from: Embedded */
._src_App_module__root {
  height: 100%;
  font-family: sans-serif;
  background-color: #f5f5f5;
  flex-basis: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

/*! CSS Used from: Embedded */
._src_components_resets_module__clapyResets, ._src_components_resets_module__clapyResets * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

._src_components_resets_module__clapyResets, ._src_components_resets_module__clapyResets :not(span, a, ul, ol, li, p) {
  display: flex;
}

._src_components_resets_module__clapyResets p:empty::before {
  content: '';
  display: inline-block;
}

._src_components_resets_module__clapyResets svg {
  overflow: visible;
}

/*! CSS Used from: Embedded */
._src_components_Main_AvatarProfilePhoto_Placeholder_AvatarProfilePhoto_Placeholder_module__root {
  position: relative;
  width: 160px;
  height: 160px;
  place-content: center;
  align-items: center;
  border-radius: 200px;
}

._src_components_Main_AvatarProfilePhoto_Placeholder_AvatarProfilePhoto_Placeholder_module__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 4px #fff;
  border-radius: 200px;
  background-image: url('https://d8qt0l.csb.app/assets/content.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 4px 6px -2px #10182808, 0px 12px 16px -4px #10182814;
}

/*! CSS Used from: Embedded */
._src_components_Main_Dot_SizeSm_Dot_SizeSm_module__root {
  position: relative;
  width: 8px;
  height: 8px;
  align-items: flex-start;
  overflow: hidden;
}

._src_components_Main_Dot_SizeSm_Dot_SizeSm_module__dot {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 6px;
  height: 6px;
  overflow: visible;
}

/*! CSS Used from: Embedded */
._src_components_Main_Badge_SizeLgIconDotColorWarnin_Badge_SizeLgIconDotColorWarnin_module__icon {
  width: 100%;
  height: 100%;
}

._src_components_Main_Badge_SizeLgIconDotColorWarnin_Badge_SizeLgIconDotColorWarnin_module__root {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 6px;
  padding: 4px 12px 4px 10px;
  border-radius: 16px;
  background-color: #fffaeb;
}

/*! CSS Used from: Embedded */
._src_components_Main_Button_SizeSmHierarchySecondar_Button_SizeSmHierarchySecondar_module__root {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

/*! CSS Used from: Embedded */
._src_components_Main_Avatar_SizeSmPlaceholderFalseT_Avatar_SizeSmPlaceholderFalseT_module__root {
  position: relative;
  width: 32px;
  height: 32px;
  align-items: flex-start;
  border-radius: 200px;
  background-color: #f2f4f7;
}

/*! CSS Used from: Embedded */
._src_components_Main_Button_SizeMdHierarchyPrimaryI_Button_SizeMdHierarchyPrimaryI_module__root {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  outline: solid 1px #004ccc;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #004ccc;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

/*! CSS Used from: Embedded */
._src_components_Main_Card_Card_module__text {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

._src_components_Main_Card_Card_module__button._src_components_Main_Card_Card_module__button {
  width: initial;
  flex: 1;
}

._src_components_Main_Card_Card_module__root {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
}

._src_components_Main_Card_Card_module__image {
  z-index: 0;
  position: relative;
  height: 132px;
  align-self: stretch;
  border-radius: 12px;
  background-color: #f2f4f7;
  background-image: url('https://d8qt0l.csb.app/assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

._src_components_Main_Card_Card_module__info {
  z-index: 0;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

._src_components_Main_Card_Card_module__tableCell {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
}

._src_components_Main_Card_Card_module__textAndSupportingText {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}

._src_components_Main_Card_Card_module__text4 {
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Card_Card_module__labelWrapper {
  font-size: 12px;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  flex-shrink: 1;
}

._src_components_Main_Card_Card_module__label {
  color: #344054;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

._src_components_Main_Card_Card_module__label2 {
  color: #101828;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

._src_components_Main_Card_Card_module__label3 {
  color: #98a2b3;
  font-size: 12px;
  line-height: 18px;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

._src_components_Main_Card_Card_module__modernOfficeTableDeskComputerT {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Card_Card_module__priceOrCurrentBid {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 4px;
}

._src_components_Main_Card_Card_module__currentBid {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: 79px;
  height: 20.0002px;
  flex-direction: column;
}

._src_components_Main_Card_Card_module___3700 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Card_Card_module__line {
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  align-self: stretch;
  background-color: #eaecf0;
}

._src_components_Main_Card_Card_module__actions {
  z-index: 0;
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 16px;
}

/*! CSS Used from: Embedded */
._src_components_Main_Bell1_Bell1_module__root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}

._src_components_Main_Bell1_Bell1_module__icon {
  position: absolute;
  left: 13.5874%;
  right: 13.5874%;
  top: 8.3333%;
  bottom: 8.3333%;
  overflow: visible;
}

/*! CSS Used from: Embedded */
._src_components_Main_HeaderSection_HeaderSection_module__icon5 {
  width: 100%;
  height: 100%;
}

._src_components_Main_HeaderSection_HeaderSection_module__root {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_HeaderSection_HeaderSection_module__container {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  padding: 0 32px;
}

._src_components_Main_HeaderSection_HeaderSection_module__pageHeader {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

._src_components_Main_HeaderSection_HeaderSection_module__content {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
}

._src_components_Main_HeaderSection_HeaderSection_module__textAndSupportingText {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

._src_components_Main_HeaderSection_HeaderSection_module__content2 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 16px;
}

._src_components_Main_HeaderSection_HeaderSection_module__actions {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}

._src_components_Main_HeaderSection_HeaderSection_module___NavItemButton {
  width: min-content;
  height: min-content;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
}

._src_components_Main_HeaderSection_HeaderSection_module__badge {
  width: min-content;
  height: min-content;
  padding: 2px 8px;
  border-radius: 16px;
  background-color: #f04438;
}

._src_components_Main_HeaderSection_HeaderSection_module__text4 {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_HeaderSection_HeaderSection_module__divider {
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  align-self: stretch;
  overflow: visible;
}

._src_components_Main_HeaderSection_HeaderSection_module__icon9 {
  width: 100%;
  height: 100%;
}

/*! CSS Used from: Embedded */
._src_components_Main_Main_module__container._src_components_Main_Main_module__container {
  align-items: flex-start;
}

._src_components_Main_Main_module__text {
  color: #101828;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_Main_module__supportingText {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_Main_module__avatarProfilePhoto._src_components_Main_Main_module__avatarProfilePhoto {
  width: 144px;
  height: 144px;
}

._src_components_Main_Main_module__content._src_components_Main_Main_module__content {
  background-image: url('https://d8qt0l.csb.app/assets/content2.jpeg');
}

._src_components_Main_Main_module__text2 {
  color: #b54708;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__thumbsUp._src_components_Main_Main_module__thumbsUp {
  width: 20px;
  height: 20px;
}

._src_components_Main_Main_module__icon {
  width: 100%;
  height: 100%;
}

._src_components_Main_Main_module__text3 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image._src_components_Main_Main_module__image {
  background-image: url('https://d8qt0l.csb.app/assets/image3.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT {
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module__textBlock {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

._src_components_Main_Main_module__textBlock2 {
  margin-top: 14px;
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

._src_components_Main_Main_module___3700 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text4 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image2._src_components_Main_Main_module__image2 {
  background-image: url('https://d8qt0l.csb.app/assets/image4.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT2 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module___37002 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text5 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image3._src_components_Main_Main_module__image3 {
  background-image: url('https://d8qt0l.csb.app/assets/image5.png');
}

._src_components_Main_Main_module__text6 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image4._src_components_Main_Main_module__image4 {
  background-image: url('https://d8qt0l.csb.app/assets/image6.png');
}

._src_components_Main_Main_module__text7 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image5._src_components_Main_Main_module__image5 {
  background-image: url('https://d8qt0l.csb.app/assets/image7.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT3 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module___37003 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text8 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image6._src_components_Main_Main_module__image6 {
  background-image: url('https://d8qt0l.csb.app/assets/image8.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT4 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module___37004 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text9 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image7._src_components_Main_Main_module__image7 {
  background-image: url('https://d8qt0l.csb.app/assets/image9.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT5 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module___37005 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text10 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__image8._src_components_Main_Main_module__image8 {
  background-image: url('https://d8qt0l.csb.app/assets/image10.png');
}

._src_components_Main_Main_module__modernOfficeTableDeskComputerT6 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: 48px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}

._src_components_Main_Main_module___37006 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__text11 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__root {
  width: 1358px;
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 48px;
  padding: 32px 0 48px;
  background-color: #fcfcfd;
}

._src_components_Main_Main_module__section {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_Main_module__container2 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 40px;
  padding: 0 32px;
}

._src_components_Main_Main_module__section2 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}

._src_components_Main_Main_module__AcuctionCard {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 24px;
  outline: solid 1px #eaecf0;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
}

._src_components_Main_Main_module__pageHeader {
  z-index: 0;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: -48px;
}

._src_components_Main_Main_module__imageWrap {
  position: relative;
  height: 188px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
  overflow: hidden;
}

._src_components_Main_Main_module__image9 {
  position: absolute;
  left: -112px;
  right: -111.9998px;
  top: 0;
  height: 192px;
  background-image: url('https://d8qt0l.csb.app/assets/image.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

._src_components_Main_Main_module__container3 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  padding: 0 32px;
}

._src_components_Main_Main_module__avatarAndContent {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
}

._src_components_Main_Main_module__content9 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 64px 0 0;
}

._src_components_Main_Main_module__heading {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
}

._src_components_Main_Main_module__textAndSupportingText {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

._src_components_Main_Main_module__text12 {
  color: #101828;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_Main_module__nameStatus {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 8px;
}

._src_components_Main_Main_module__supportingText2 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__actions {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}

._src_components_Main_Main_module__card {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  outline: solid 1px #eaecf0;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
}

._src_components_Main_Main_module__content10 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  padding: 24px;
}

._src_components_Main_Main_module__sectionHeader {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;
}

._src_components_Main_Main_module__content11 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
}

._src_components_Main_Main_module__content12 {
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  place-content: center;
  gap: 4px;
}

._src_components_Main_Main_module__text13 {
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

._src_components_Main_Main_module__actions2 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}

._src_components_Main_Main_module__button3 {
  width: min-content;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}

._src_components_Main_Main_module__text14 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: IBM Plex Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

._src_components_Main_Main_module__divider {
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  align-self: stretch;
  overflow: visible;
}

._src_components_Main_Main_module__icon16 {
  width: 100%;
  height: 100%;
}

._src_components_Main_Main_module__auctionCards {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px 24px;
}

._src_components_Main_Main_module__row {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
}

._src_components_Main_Main_module__row2 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 25px;
}

/*! CSS Used from: Embedded */
._src_components_Main_ThumbsUp_ThumbsUp_module__root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}

._src_components_Main_ThumbsUp_ThumbsUp_module__icon {
  position: absolute;
  left: 8.3333%;
  right: 10.4008%;
  top: 8.3333%;
  bottom: 8.3333%;
  overflow: visible;
}

/*! CSS Used from: Embedded */
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
}

#root {
  position: relative;
}

body button:not(:disabled) {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

/*! CSS Used fontfaces */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdXeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdLeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

._src_components_resets_module__clapyResets._src_components_Main_Card_Card_module__root {
  min-width: 18.5em;
  }